body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 4px #dbdbdb;
          box-shadow: 0 0 15px 4px #dbdbdb;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  
  background-color: #766357;
  border: none;
}

.main-header {
  position: relative;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  
  width: 138px;
  height: 70px;
  
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0 6%;
  
  list-style: none;
}

.site-navigation li {
  width: 20%;
  padding: 15px 0;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
	text-align: left;
	margin-right: 3%;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
	text-align: right;
	margin-left: 3%;
}

.site-navigation li:nth-child(4n+2) {
	margin-right: 14%;
}

.site-navigation li:nth-child(4n+3) {
	margin-left: 0;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  position: relative;
  
  background-color: #d9eaf2;
  background-image: url("../img/background.jpg");
  background-position: 50% 21%;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro::after {
  content: "";
  
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  height: 57px;
  
  background-image: url("../img/intro-bg.png");
  background-repeat: no-repeat;
}

.intro img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 80px;
}

.promo {
  margin-bottom: 51px;
  margin-top: 60px;
  
  text-align: center;
}

.promo .main-title {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 28px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.promo p {
  width: 575px;
  margin: 0 auto;
  
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  text-align: center;
  
  list-style: none;
  background-color: #81b3d2;
}  

.features-item {
  z-index: 1;
  
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding: 0 49px 40px;
  
  color: #ffffff;
  
  background-color: #81b3d2;  
}

.features-item .features-title {
  margin: 47px auto 24px;
  width: 160px;
  
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-description {
  margin: 0;
  padding: 0;
}

.features-number {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.features-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 256px;
  overflow: hidden;
}

.features-image img {
  display: block;
  width: 100%;
  height: auto;
}

.features-item-light {
  min-height: 330px;
  padding-bottom: 49px;
  
  background-color: #ffffff;
}

.features-item-light .features-title {
  position: relative;
  
  margin-top: 161px;
  
  color: #000000;
}

.features-item-light .features-title-house::before {
  content: "";
  
  position: absolute;
  bottom: 50px;
  left: 42px;
  
  width: 75px;
  height: 72px;
  
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-light .features-title-food::before {
  content: "";
  
  position: absolute;
  bottom: 50px;
  left: 43px;
  
  width: 74px;
  height: 70px;
  
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-light .features-title-souvenir::before {
  content: "";
  
  position: absolute;
  bottom: 50px;
  left: 48px;
  
  width: 64px;
  height: 76px;
  
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-light p {
  color: #333333;
}

.features-item-gray {  
  min-height: 256px;
  padding: 0 69px;
  padding-bottom: 40px;
  
  background-color: #eeeeee;
}

.features-item-gray .features-title {
  color: #000000;
}

.features-item-gray p {
  color: #333333;
}

.offer {
  position: relative;
  z-index: 1;
  
  padding-top: 52px;
  
  text-align: center;
  
  background-color: #ffffff;
}

.offer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.offer p {
  width: 575px;
  margin: 25px auto 45px auto;
  
  font-size: 14px;
  line-height: 24px;
}

.btn-search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  padding: 30px 50px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #766357;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #604e43;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.index-footer {
  position: relative;
}

.map img {
  position: absolute;
  
  margin-bottom: -5px;
}

.map iframe {
  position: relative;
  
  width: 100%;
  height: 593px;
  
  border: none;
  margin-bottom: -5px;
}

.search-form {
  position: absolute;
  z-index: 0;
  top: 0;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  margin-left: 316px;
  padding: 55px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  
  background-color: #ffffff;
}

@-webkit-keyframes swim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes swim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.search-form-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: swim 0.7s;
          animation: swim 0.7s;
}

.search-form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.date-block label {
  width: 100px;
  padding-right: 12px;
}

.search-form input {  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;
  
  font: inherit;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-form .date-block {
  position: relative;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 29px;
}

.date-block input {
  
  width: 346px;
  min-height: 38px;
  padding: 6px 35px 6px 13px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-calendar {
  position: absolute;
  top: 8px;
  left: 428px;
  
  padding: 0;
  
  background-color: transparent;
  border: none;
}

.form-calendar svg { 
  fill: #cacaca; 
}

.form-calendar:hover svg,
.form-calendar:focus svg {
  fill: #000000;
}

.form-calendar:active svg {
  fill: #81b3d2;
}

.search-form .persons-block {
  position: relative;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0;
  padding-bottom: 29px;
}

.persons-block:nth-child(2n-1) label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 113px;
  padding-right: 12px;
}

.persons-block:nth-child(2n) label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 113px;
  padding-left: 50px;
  padding-right: 12px;
}

.persons-block input {
  width: 38px;
  min-height: 38px;
  padding: 6px 4px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.form-persons-change {
  width: 38px;
  height: 38px;
  padding: 0;
  
  background-color: #f2f2f2;
  border: none;
}

.icon-minus::before {
  content: "";
  
  position: absolute;
  top: 17px;
  left: 126px;
  
  width: 12px;
  height: 3px;
  
  background-color: #a9a9a9;
}

.icon-plus::before,
.icon-plus::after {
  content: "";
  
  position: absolute;
  top: 17px;
  left: 202px;
  
  width: 12px;
  height: 3px;
  
  background-color: #a9a9a9;
}

.icon-plus::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon-minus:hover::before,
.icon-minus:focus::before,
.icon-plus:hover::before,
.icon-plus:focus::before,
.icon-plus:hover::after,
.icon-plus:focus::after {
  background-color: #000000;
}

.icon-minus:active::before,
.icon-plus:active::before,
.icon-plus:active::after {
  background-color: #81b3d2;
}

.btn-search-form {
  width: 100%;
  margin-top: 25px;
  padding: 17px 0;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
}

.btn-search-form:hover,
.btn-search-form:focus {
  background-color: #669ec0;
}

.btn-search-form:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.index-footer-wrapper,
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  text-align: center;
  
  background-color: rgba(255, 255, 255, 0.9);
}

.index-footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;  
}

.hashtag {
  width: 400px;
  margin: 0;
  padding: 0;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 400px;
  margin: 36px 0;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  position: relative;
  
  display: block;  
  width: 46px;
  height: 48px;
  margin: 0 3px;
  
  color: #81b3d2;
  
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active::before {
  opacity: 0.3;
}

.icon-twitter::before {
  content: "";
  
  position: absolute;
  top: 17px;
  left: 15px;
  
  display: block;
  width: 17px;
  height: 15px;
  
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.icon-facebook::before {
  content: "";
  
  position: absolute;
  top: 13px;
  left: 17px;
  
  display: block;
  
  width: 12px;
  height: 22px;
  
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
}

.icon-youtube::before {
  content: "";
  
  position: absolute;
  top: 16px;
  left: 13px;
  
  display: block;
  width: 20px;
  height: 16px;
  
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.footer-copyright span {
  margin-right: 8px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.icon-academy {
  line-height: 0;
}

.icon-academy:hover path,
.icon-academy:focus path {
  fill: #81b3d2;
}

.icon-academy:active path {
  fill: #bdbbbc;
}

/*Стилизация страницы поиска отелей*/

.site-navigation-current a {
  color: #766357;
}

.filters {
  padding: 0 6%;
  
  background-color: #47535a;
  background-image: url("../img/background-hotels.jpg");
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-size: cover;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}

.filter-form-group {
  width: 255px;
  margin: 0;
  margin-top: 27px;
  padding: 0;
}

.filter-form fieldset {
  border: none;
}

.filter-form-title {
  margin-bottom: 27px;
  
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  line-height: 21px;
  color: #ffffff;
}

.filter-form-option {
  margin-bottom: 25px;
}

.filter-form-option:last-child {
  margin-bottom: 30px;
}

.filter-input-checkbox {
  display: none;
}

.filter-form-option label {
  position: relative;
  
  display: inline-block;
  vertical-align: top;
  padding-left: 40px;
  
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  
  position: absolute;
  
  width: 27px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox + label::before {
  content: "";
  
  position: absolute;
  left: 0;
  bottom: 0;
  
  width: 23px;
  height: 23px;
  
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-form-label {
  outline: none;
}

label:focus::before {
  box-shadow: -10px 0px 15px 0 rgba(255,255,255,0.4);
}

.btn-filter-form {  
  display: block;
  margin-left: 85px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-filter-form:hover,
.btn-filter-form:focus {
  color: #000000;
  background-color: #ffffff;
}

/*Двойной ползунок----------------*/
.filter-form-container {
  width: 318px;
  margin-top: 27px;
  margin-left: auto;
}

.filter-form-cost {
  margin: 0;
  padding: 0;
}

.filter-form-cost .filter-form-title {
  margin-bottom: 10px;
}

.cost-range {
  position: relative;
  
  height: 32px;
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-range::after {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cost-range label {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;

  cursor: pointer;
}

.cost-range-label {
  width: 85px;
  padding-left: 64px;
}

.cost-range-input {
  width: 50px;
  margin: 0;

  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;

  background: none;
  border: none;
}

.scale {
  position: relative;

  margin-bottom: 32px;
}

.scale .diapason {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.diapason .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}
/*----------------Двойной ползунок*/

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  padding: 30px 6%;
  
  border-bottom: 1px solid #e5e5e5;
}

.sorting-caption {
  margin: 0;
  padding-right: 49px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 77%;
  padding-top: 4px;
}

.sorting-by-caption {
  padding-right: 5px;
  
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.sorting-list li {
  margin-left: 33px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list .active {
  color: #81b3d2;
  border: none;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.arrows {  
  margin-left: auto;
  padding-top: 4px;
}

.arrow {
  font-size: 0;
  line-height: 0;
}

.arrow-up {
  margin-right: 12px;
}

.arrow-down:hover path,
.arrow-up:hover path,
.arrow-down:focus path,
.arrow-up:focus path {
  fill: #231f20;
}

.arrow-down:active path,
.arrow-up:active path {
  fill: #81b3d2;
}

.result-list {
  margin: 0;
  padding: 0;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 6%;
  
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.result-item-image {
  margin-right: 30px;
}

.result-item-image img {
  display: block;
}

.result-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25%;
}

.result-item-title {
  margin: -6px 0 8px;
}

.result-item-title a{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.result-item-title a:hover,
.result-item-title a:focus {
  color: #81b3d2;
}

.result-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.result-item-text {
  width: 116px;
  margin: 0;
  margin-bottom: 14px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  color: #333333;
}

.result-btn {
  padding: 3px 17px;  
  
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #81b3d2;
}

.btn-more:hover,
.btn-more:focus {
  background-color: #669ec0;
}

.btn-more:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.btn-book {  
  margin-left: 6px;
  
  background-color: #766357;
}

.btn-book:hover,
.btn-book:focus {
  background-color: #604e43;
}

.btn-book:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.result-item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.result-item-stars {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 106px;
  height: 17px;
  
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-repeat: space;
}

.four-stars {
  width: 87px;
  overflow: hidden;
}

.three-stars {
  width: 65px;
  overflow: hidden;
}

.two-stars {
  width: 40px;
  overflow: hidden;
}

.result-item-rate {
  margin: 0;
  padding: 3px 13px;
  
  color: #666666;
  
  background-color: #f2f2f2;
}