body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  
  background-color: #ffffff;
  box-shadow: 0 0 15px 4px #dbdbdb;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  
  background-color: #766357;
  border: none;
}

.main-header {
  position: relative;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 6%;
  
  list-style: none;
}

.site-navigation li {
  width: 20%;
  padding: 16px 0;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
}

.site-navigation li:nth-child(1), 
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3), 
.site-navigation li:nth-child(4) {
  text-align: right;
}

.shift-right {
/*  box-sizing: border-box;*/
  margin-left: 60px;
}

.shift-left {
/*  box-sizing: border-box;*/
  margin-right: 60px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  position: relative;
  
  background-image: url("../img/background.jpg");
  background-color: #d9eaf2;
  background-position: 50% 21%;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro::after {
  content: "";
  display: block;
  
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  height: 57px;
  
  background-image: url("../img/intro-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 80px;
}

.promo {
  margin-bottom: 51px;
  margin-top: 60px;
  
  text-align: center;
}

.promo .main-title {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 28px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.promo p {
  width: 575px;
  margin: 0 auto;
  
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
  text-align: center;
  background-color: #81b3d2;
}  

.features-item {
  box-sizing: border-box;
  width: 400px;
  padding: 0 49px;
  
  color: #ffffff;
  
  background-color: #81b3d2;  
}

.features-item .features-title {
  margin: 47px auto 24px auto;
  width: 160px;
  
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
}

.features-item .features-description {
  margin: 0;
  padding: 0;
}

.features-item .features-number {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.features-image {
  display: flex;
  align-items: center;
  height: 255px;
  overflow: hidden;
}

.features-item-light {
  min-height: 330px;
  background-color: #ffffff;
}

.features-item-light .features-title {
  position: relative;
  margin-top: 161px;
  
  color: #000000;
}

.features-item-light .features-title-house::before {
  content: "";
  
  position: absolute;
  bottom: 54px;
  left: 42px;
  
  width: 75px;
  height: 72px;
  
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-light .features-title-food::before {
  content: "";
  
  position: absolute;
  bottom: 54px;
  left: 43px;
  
  width: 74px;
  height: 70px;
  
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-light .features-title-souvenir::before {
  content: "";
  
  position: absolute;
  bottom: 54px;
  left: 48px;
  
  width: 64px;
  height: 76px;
  
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-light p {
  color: #333333;
}

.features-item-gray {
  min-height: 256px;
  padding: 0 69px;
  
  background-color: #eeeeee;
}

.features-item-gray .features-title {
  color: #000000;
}

.features-item-gray p {
  color: #333333;
}

.offer {
  padding-top: 55px;
  
  text-align: center;
}

.offer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.offer p {
  width: 575px;
  margin: 25px auto 45px auto;
  
  font-size: 14px;
  line-height: 24px;
}

.btn-search {
  box-sizing: border-box;
  width: 568px;
  padding: 30px 50px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #766357;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #604e43;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.index-footer {
  position: relative;
}

.search-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  
  box-sizing: border-box;
  top: 0;
  width: 568px;
  margin-left: 316px;
  padding: 55px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  
  background-color: #ffffff;
}

.date-block label {
  width: 100px;
  padding-right: 12px;
}

.search-form input {  
  box-sizing: border-box;
  
  font: inherit;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-form .date-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  margin: 0;
  margin-bottom: 29px;
}

.date-block input {
  width: 346px;
  min-height: 38px;
  padding: 6px 9px 6px 13px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-calendar {
  padding: 0;
}

.form-calendar::before {
  content: "";
  
  position: absolute;
  top: 8px;
  right: 9px;
  
  width: 21px;
  height: 22px;
  
  background-image: url("../img/calendar.svg");
}

.form-calendar:hover::before,
.form-calendar:focus::before {
  background-image: url("../img/calendar-hover.svg");
}

.form-calendar:active::before {
  background-image: url("../img/calendar-active.svg")
}

.search-form .persons-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  
  margin: 0;
  padding-bottom: 29px;
}

.persons-block:nth-child(2n-1) label {
  box-sizing: border-box;
  width: 113px;
  padding-right: 12px;
}

.persons-block:nth-child(2n) label {
  box-sizing: border-box;
  width: 113px;
  padding-left: 50px;
  padding-right: 12px;
}

.persons-block input {
  width: 38px;
  min-height: 38px;
  padding: 6px 4px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.form-persons-change {
  padding: 0;
  width: 38px;
  height: 38px;
}

.icon-minus::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 126px;
  
  width: 12px;
  height: 3px;
  
  background-color: #a9a9a9;
}

.icon-plus::before,
.icon-plus::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 202px;
  
  width: 12px;
  height: 3px;
  
  background-color: #a9a9a9;
}

.icon-plus::after {
  transform: rotate(90deg);
}

.icon-minus:hover::before,
.icon-minus:focus::before,
.icon-plus:hover::before,
.icon-plus:focus::before,
.icon-plus:hover::after,
.icon-plus:focus::after {
  background-color: #000000;
}

.icon-minus:active::before,
.icon-plus:active::before,
.icon-plus:active::after {
  background-color: #81b3d2;
}

.btn-search-form {
  width: 100%;
  margin-top: 25px;
  padding: 17px 0;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
}

.btn-search-form:hover,
.btn-search-form:focus {
  background-color: #669ec0;
}

.btn-search-form:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.form-calendar,
.form-persons-change {
  font: inherit;
  color: #cacaca;
  
  background-color: #f2f2f2;
  border: none;
}

.form-calendar:hover,
.form-persons-change:hover {
  color: #000000;
}

.form-calendar:active,
.form-persons-change:active {
  color: #81b3d2;
}

.index-footer-wrapper,
.main-footer {
  display: flex;
  align-items: center;
  
  text-align: center;
  
  background-color: rgba(255, 255, 255, 0.9);
}

.index-footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;  
}

.hashtag {
  margin: 0;
  padding: 0;
  width: 400px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 400px;
  margin: 36px 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  margin: 0;
  padding: 0;

  list-style: none;
  
}

.social-button {
  display: block;
  position: relative;
  
  margin: 3px;
  width: 46px;
  height: 48px;
  
  color: #81b3d2;
  
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active::before {
  opacity: 0.3;
}

.icon-twitter::before {
  content: "";
  display: block;
  
  position: absolute;
  top: 17px;
  left: 15px;
  
  width: 17px;
  height: 15px;
  
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.icon-facebook::before {
  content: "";
  display: block;
  
  position: absolute;
  top: 13px;
  left: 17px;
  
  width: 12px;
  height: 22px;
  
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
}

.icon-youtube::before {
  content: "";
  display: block;
  
  position: absolute;
  top: 16px;
  left: 13px;
  
  width: 20px;
  height: 16px;
  
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer-copyright span {
  margin-right: 8px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.icon-academy {
  line-height: 0;
}

.icon-academy:hover path,
.icon-academy:focus path {
  fill: #81b3d2;
}

.icon-academy:active path {
  fill: #bdbbbc;
}

/*Стилизация страницы поиска отелей*/

.site-navigation-current a {
  color: #766357;
}

.filters {
  padding: 0 6%;
  
  background-image: url("../img/background-hotels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-form {
  display: flex;  
}

.filter-form-group {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  width: 255px;
}

.filter-form fieldset {
  border: none;
}

.filter-form-title {
  margin-bottom: 27px;
  
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  line-height: 21px;
  color: #ffffff;
}

.filter-form-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-form-option:last-child {
  margin-bottom: 30px;
}

.filter-form-option label {
  position: relative;
  
  display: block;
  
  cursor: pointer;
  user-select: none;
}

.filter-form-option input[type="checkbox"]:focus + .filter-form-label::before {
  outline: 2px solid;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  
  width: 27px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  
  width: 23px;
  height: 23px;
  
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.btn-filter-form {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-filter-form:hover,
.btn-filter-form:focus {
  color: #000000;
  background-color: #ffffff;
}

/*Двойной ползунок----------------*/
.filter-form-container {
  width: 318px;
  margin-top: 25px;
  margin-left: auto;
}

.filter-form-cost {
  margin: 0;
  padding: 0;
}

.filter-form-cost .filter-form-title {
  margin-bottom: 8px;
}

.cost-range {
  position: relative;
  
  height: 32px;
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-range::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.cost-range label {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;

  cursor: pointer;
}

.cost-range-label {
  width: 85px;
  padding-left: 65px;
}

.cost-range-input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.scale {
  position: relative;

  margin-bottom: 32px;
}

.scale .diapason {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.diapason .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}
/*----------------Двойной ползунок*/

.sorting {
  display: flex;
  align-items: center;
  padding: 0 6%;
  
  border-bottom: 2px solid #e5e5e5;
}

.sorting-caption {
  margin: 31px 0;
  padding-right: 50px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-by {
  display: flex;
  align-items: baseline;
}

.sorting-by-caption {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list li {
  margin-left: 33px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list .active {
  color: #81b3d2;
  border: none;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.arrows {  
  margin-left: auto;
}

.arrow {
  font-size: 0;
  line-height: 0;
}

.arrow-up {
  margin-right: 12px;
}

.arrow-down:hover path,
.arrow-up:hover path,
.arrow-down:focus path,
.arrow-up:focus path {
  fill: #231f20;
}

.arrow-down:active path,
.arrow-up:active path {
  fill: #81b3d2;
}

.result-list {
  margin: 0;
  padding: 0;
}

.result-item {
  display: flex;
  align-items: flex-end;
  padding: 30px 6%;
  
  list-style: none;
  border-bottom: 2px solid #e5e5e5;
}

.result-item-image {
  margin-right: 30px;
  
  line-height: 0;
}

.result-item-info {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.result-item-title a{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.result-item-title a:hover,
.result-item-title a:focus {
  color: #81b3d2;
}

.result-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.result-item-text {
  width: 50%;
  margin: 0;
  padding-right: 10px;
  box-sizing: border-box;
  color: #333333;
}

.btn-more {
  padding: 6px 17px;
  margin-right: 6px;
  margin-top: 16px;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #81b3d2;
}

.btn-more:hover,
.btn-more:focus {
  background-color: #669ec0;
}

.btn-more:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
}

.btn-book {
  padding: 6px 17px;
  margin-top: 16px;

  
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #766357;
}

.btn-book:hover,
.btn-book:focus {
  background-color: #604e43;
}

.btn-book:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.result-item-rating {
  margin-left: auto;
}

.result-item-rate {
  margin: 0;
  padding: 5px 15px;
  
  color: #666666;
  
  background-color: #f2f2f2;
}